/*Initial styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  color: #212529;
}

header,
footer {
  background-color: #ffa8a8;
  height: 12.5vh;
  justify-content: center;
  color: #212529;
}

footer {
  font-size: 14px;
}

header h1 {
  font-size: 36px;
  padding-top: 10px;
}

footer span {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  width: 250px;
  border: 1px solid #ffa8a8;
  margin: 20px;
  border-radius: 10px;
  color: #212529;
}

.list .title {
  margin: 5px 10px;
  padding: 5px;
}

.list .item {
  padding: 5px;
  border-bottom: 1px solid #ffa8a8;
}

.list input,
button {
  color: #ffa8a8;
  margin-left: 5px;
}

input {
  outline: none;
}

.list button {
  padding: 2px;
}

.heading {
  display: flex;
  border-bottom: 1px solid #ffa8a8;
}

.heading .title {
  width: 200px;
  font-size: 18px;
}

.heading .add {
  font-size: 25px;
  cursor: pointer;
  margin: 8px 10px 5px 20px;
}

.column {
  text-align: center;
}
.error {
  color: red;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 14px;
}
